{% extends "layout.html" %}

{% block body %}
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["table"]});
      google.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'contact_id');
        data.addColumn('string', 'Company Name');
    	  data.addColumn('string', 'First Name');
        data.addColumn('string', 'Last Name');
        data.addColumn('string', 'Job Title');
        data.addColumn('string', 'Main Phone');
        data.addColumn('string', 'Work Phone');
        data.addColumn('string', 'Mobile');
        data.addColumn('string', 'Fax');
        data.addColumn('string', 'Email');
        
        {% for contact in result['results']%}
        data.addRows([
          [
          "{{contact['_id']}}",
          "{{contact['company_name']}}",
          "{{contact['first_name']}}",
          "{{contact['last_name']}}",
          "{{contact['job_title']}}",
          "{{contact['phone']['main_phone']}}",
          "{{contact['phone']['work_phone']}}",
          "{{contact['phone']['mobile']}}",
          "{{contact['phone']['fax']}}",
          "{{contact['email']}}"
          ],
        ]);
        {% endfor %}

        var dataView = new google.visualization.DataView(data);
        dataView.hideColumns([0]);
        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(dataView, {showRowNumber: true});

        function showDetails() {
            var selection = table.getSelection();
            var rowId = selection[0].row;
            var customerID = data.getValue(rowId, 0);
            if(customerID.length > 0){
              var url = "{{ url_for('provided_services.provided_services', contact_id='') }}" + customerID;
              document.location.href = url;
            }
        }
        google.visualization.events.addListener(table, 'select', showDetails);
      }
    </script>
<section>
<div class="container">
    <h4>Click on a customer row to add or view provided services.</h4>
    <div id="table_div"></div>
</div>
</section>
{% endblock %}