{% extends "layout.html" %}
{% block body %}
    <!-- Header -->
<style type="text/css">
.intro-lead-in {
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(54, 25, 25, .5);
    color:#ffffff;
}
.section-subheading {
    background: rgb(145, 59, 65); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(35, 15, 16, .5);
    color:#ffffff;
    text-transform: none;
}
</style>
<header style="padding: 300px 0 0 0; background-image: url({{ url_for('static', filename='startbootstrap/img/arda_wallpaper.jpg') }});margin-top: 110px;">
    <div class="container">
    <div class="section-heading col-xs-4"></div>
        
        <div class="intro-text">
            
        </div>
    </div>
</header>

<section>
    <div class="container" align="center">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p><strong>Welcome to ARDA Regions</strong></p>
                <hr class="style-eight style-eight-later">
                
            </div>
        </div>
        <div class="row col-lg-12">
            <div class="col-md-4 col-sm-6 portfolio-item" align="center">
                <a href="http://www.rdanorth.org" class="portfolio-link">
                    
                    <img src="{{ url_for('static', filename='startbootstrap/img/north.png') }}" width="160" height="140">
                    <div class="portfolio-caption">
                        <p class="text-muted">RDA North</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item" align="center" align="center">
                <a href="http://rdacentre.org/" class="portfolio-link">
                
                    <img src="{{ url_for('static', filename='startbootstrap/img/center.png') }}" width="160" height="140">
                    <div class="portfolio-caption">
                        <p class="text-muted">RDA Center</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item" align="center">
                <a href="http://www.rdawest.org/" class="portfolio-link">
                
                    <img src="{{ url_for('static', filename='startbootstrap/img/west.png') }}" width="160" height="140">
                    <div class="portfolio-caption">
                        <p class="text-muted">RDA West</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row col-lg-12">
            <div class="col-md-4 col-sm-6 portfolio-item" align="center" style="margin-top:28px;">
                <a href="http://www.rda-south.org/" class="portfolio-link">
                
                    <img src="{{ url_for('static', filename='startbootstrap/img/south.png') }}" width="160" height="140">
                    <div class="portfolio-caption" style="margin-top:20px;">
                        <p class="text-muted">RDA South</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item" align="center"  style="margin-top: 28px">
                <a href="http://www.rdaeast.org/" class="portfolio-link">
                
                    <img src="{{ url_for('static', filename='startbootstrap/img/East.png') }}" width="160" height="140">
                    <div class="portfolio-caption">
                        <p class="text-muted">RDA East</p>
                    </div>
                </a>
            </div>
        
        </div>
        <br></br>
    </div>
</section>
<footer>
    <div id="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <ul class="list-inline social-buttons">
                    {% if session.settings.web_url %}
                    <li>
                        <a href="{{ session.settings.web_url }}">
                            <i class="fa fa-globe"></i>
                        </a>
                    </li>
                    {% endif %}

                    {% if session.settings.fb_url %}
                    <li>
                        <a href="{{ session.settings.fb_url }}">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    {% endif %}

                    {% if session.settings.tw_url %}
                    <li>
                        <a href="{{ session.settings.tw_url }}">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    {% endif %}

                    {% if session.settings.li_url %}
                    <li>
                        <a href="{{ session.settings.li_url }}">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li> 
                        <a href="mailto:{{ session.settings.support_email }}?Subject=Hello%20ARDA%20Support" target="_top">
                        Contact ARDA Support
                        </a>
                    </li>
                </ul>
            </div>
                       
        </div>
    </div>
</footer>
{% endblock %}