<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/plain; charset=UTF-8"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ session.settings.site_title }}</title>
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='startbootstrap/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='startbootstrap/js/bootstrap.min.js') }}"></script>

 	<script src="{{ url_for('static', filename='excellentexport/excellentexport.js')}}"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='startbootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
     <link href="{{ url_for('static', filename='startbootstrap/css/agency.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='startbootstrap/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Form Validator -->
    <link rel="stylesheet" href="{{ url_for('static', filename='formvalidation/css/formValidation.css')}}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='formvalidation/js/formValidation.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='formvalidation/js/framework/bootstrap.js')}}"></script>
    <!-- Bootstrap date-picker plug-in -->
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-datepicker/css/datepicker.css') }}">

    <!-- Own CSS -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function(){
            $('#submitLink').click(function(){
                $('#logmeout').submit();
            });
            $('#linkLogin').click(function(){
                $('#login').submit();
            });
        });
    </script>
</head>

<body id="page-top" class="index cbp-spmenu-push">

        <nav class="navbar navbar-default navbar-fixed-top navbar-shrink" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              {% if current_user.is_authenticated() %}
                <a href="{{url_for('home_page.panel')}}">
                    <img src="{{ url_for('static', filename='startbootstrap/img/arda-logo.png') }}" width="165" height="100" alt="arda">
                </a>
                {% else %}
                 <a href="{{url_for('home_page.home_page')}}">
                 <img src="{{ url_for('static', filename='startbootstrap/img/arda-logo.png') }}" width="165" height="100" alt="arda"></a>
                {% endif %}
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top:50px;">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                </ul>

                {% if not current_user.is_authenticated() %}
                <form class="navbar-form navbar-right" style="margin-top:-20px;" method="post" role="login" action="{{url_for('auth.login')}}">
                    <div class="form-group">
                        <input type="text" name="email" id="email" placeholder="E-mail"/>
                        <input type="password" name="password" id="password" placeholder="Password"/>
                    </div class="form-group">
                    <button type="submit" class="btn btn-default btn-sm" >login</button>
                </form>
                
                {% else %}
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="{{ url_for('customers.customers') }}">Customers</a>
                    </li>
                    <li>
                        <a href="{{ url_for('analytics.analytics') }}">Analytics</a>
                    </li>
                    {% if current_user.has_role('Admin') %}
                        <li>
                            <a href="{{ url_for('admin.users') }}">Users</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('admin.settings') }}">Settings</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
                </ul>
                {% endif %}

            </div>
            <!-- /.navbar-collapse -->
        </div>
            
        </div>
    <div id="navbar-line" class="navbar-line" style="height:3px; width: 100%; background-color:#00427A;">
        <!-- /.container-fluid -->
    </nav>
{% block body %}

{% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {#
                    <span class="copyright">Copyright &copy; ARDA 2015</span>
                    #}
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% if session.settings.web_url %}
                        <li>
                            <a href="{{ session.settings.web_url }}">
                                <i class="fa fa-globe"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if session.settings.fb_url %}
                        <li>
                            <a href="{{ session.settings.fb_url }}">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if session.settings.tw_url %}
                        <li>
                            <a href="{{ session.settings.tw_url }}">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if session.settings.li_url %}
                        <li>
                            <a href="{{ session.settings.li_url }}">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-4">
                    {#
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                    #}
                </div>
            </div>
        </div>
    </footer>

    
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='startbootstrap/js/classie.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='startbootstrap/js/agency.js') }}"></script>

</body>

</html>