{% extends 'layout.html' %}
{% block body %}
<script type="text/javascript">
	$('#menu-items').css("display", "none");
</script>
<section id="portfolio">
	<div class="container" align="center">
		<div class="row">
			<div class="col-lg-12 text-center">
				<p><strong>Welcome to ARDA {% if current_user.region != 'All' %} region {{current_user.region}}{% endif %}, {{ current_user.first_name }}!</strong></p>
        		<hr class="style-eight style-eight-later">
				<h3 class="section-subheading text-muted">Where do you want to go from here?</h3>
			</div>
		</div>
		<div class="row col-lg-12">
			<div class="col-md-4 col-sm-6 portfolio-item" align="center">
				<a href="{{url_for('customers.customers')}}" class="portfolio-link">
				    
				    <img src="{{ url_for('static', filename='startbootstrap/img/Customer.png') }}" width="160" height="160">
				    <div class="portfolio-caption">
				    	<p class="text-muted">Customers</p>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 portfolio-item" align="center" align="center">
				<a href="{{url_for('analytics.analytics')}}" class="portfolio-link">
			    
			    	<img src="{{ url_for('static', filename='startbootstrap/img/Analytics.png') }}" width="160" height="160">
			    	<div class="portfolio-caption">
				    	<p class="text-muted">Analytics</p>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 portfolio-item" align="center">
				<a href="{{url_for('services.services')}}" class="portfolio-link">
			    
			    	<img src="{{ url_for('static', filename='startbootstrap/img/Services.png') }}" width="160" height="160">
			    	<div class="portfolio-caption">
				    	<p class="text-muted">Services</p>
					</div>
				</a>
			</div>
			
			
		</div>
		<div class="row col-lg-12">
			<div class="col-md-4 col-sm-6 portfolio-item" align="center">
				<a href="{{url_for('customers.reports')}}" class="portfolio-link">
			    
			    	<img src="{{ url_for('static', filename='startbootstrap/img/Reports.png') }}" width="160" height="160">
			    	<div class="portfolio-caption" style="margin-top:20px;">
				    	<p class="text-muted">Reports</p>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 portfolio-item" align="center">
				<a href="{{url_for('admin.settings')}}" class="portfolio-link">
			    
			    	<img src="{{ url_for('static', filename='startbootstrap/img/Settings.png') }}" width="160" height="160">
			    	<div class="portfolio-caption" style="margin-top:20px;">
				    	<p class="text-muted">Settings</p>
					</div>
				</a>
			</div>
			{% if current_user.has_role('Admin') %}
			<div class="col-md-4 col-sm-6 portfolio-item" align="center">
				<a href="{{url_for('admin.users')}}" class="portfolio-link">
			    
				    <img src="{{ url_for('static', filename='startbootstrap/img/Users.png') }}" style="margin-top:20px;" width="160" height="160">
				    <div class="portfolio-caption" style="margin-top:20px;">
				    	<p class="text-muted">Users</p>
					</div>
				</a>
			</div>
			{% endif %}
		</div>
	</div>
</section>
{% endblock %}