{% extends 'layout.html' %}
{% block body %}
<script type="text/javascript">
	$(document).ready(function(){
		{% if current_user.has_role('Admin') %}
			$('#first-setting').css('margin-left', '-50px');
		{% else %}
			$('#first-setting').css('margin-left', '100px');
		{% endif %}
	})
</script>
<section id="portfolio">
<div id="container" align="center"  style="padding:50px">
    <div class="col-xs-12">
        <p class="pull-left"><strong>Wellcome</strong>, {{ current_user.first_name }}</p>
        <hr>
    </div>
	<div class="col-xs-12" align="center">
		<div id="first-setting" class="row col-xs-3 portfolio-item">
			<a href="{{url_for('customers.customers')}}" class="portfolio-link">
			    
			    <img src="{{ url_for('static', filename='startbootstrap/img/shares.png') }}" width="230" height="160">
			    <p class="text-muted">Customers</p>
			</a>
		</div>
		<div class="row col-xs-3 portfolio-item">
			<a href="{{url_for('analytics.analytics')}}" class="portfolio-link">
			    
			    <img src="{{ url_for('static', filename='startbootstrap/img/businessman.png') }}" width="230" height="160">
			    <p class="text-muted">Analytics</p>
			</a>
		</div>
		<div class="row col-xs-3 portfolio-item">
			<a href="{{url_for('admin.settings')}}" class="portfolio-link">
			    
			    <img src="{{ url_for('static', filename='startbootstrap/img/gearturning.png') }}" width="160" height="160">
			    <p class="text-muted">Settings</p>
			</a>
		</div>
		 {% if current_user.has_role('Admin') %}
		<div class="row col-xs-3 portfolio-item">
			<a href="{{url_for('admin.users')}}" class="portfolio-link">
			    
			    <img src="{{ url_for('static', filename='startbootstrap/img/users.png') }}" width="200" height="160">
			    <p class="text-muted">Users Managment</p>
			</a>
		</div>
		{% endif %}
	</div>
	
</div>
</section>
<br><br><br><br>
{% endblock %}