{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
  var data = google.visualization.arrayToDataTable([
    ['Income Type', 'Value'],
    {% for result in results %}
      ["{{result['serviceType']}}", {{result['valueOfService']}}],
    {% endfor %}
  ]);
  var options = {
  title: 'Incomes based on provided services'
  };
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
  }
</script>

<section id="portofolio">
  <div id="container" align="center">
  <div id="piechart" style="width: 900px; height: 500px;"></div>
</div>
</section>
{% endblock %}