{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  var service_result = {{results|tojson}} 
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart(result) {
  var data = google.visualization.arrayToDataTable([
    ['Income Type', 'Value'],
    for( var idx in service_result ){
      [service_result[idx]['serviceType'], result[idx]['valueOfService']],
    };
  ]);
  var options = {
  title: 'Incomes based on provided services'
  };
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
  };
  $(document).ready(function() {
    $('#filterButton').click(function(){
        var from_date = $('#fromDate').val();
        var to_date = $('#toDate').val();
        url = "/api/service-fee?fromDate="+from_date+"&toDate="+to_date;  
        alert(url);    
        $.get(url, function(result){
          drawChart(result);
        });
      });
      
      $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'dd/mm/yyyy',
    });
  });
</script>

<section id="portofolio">
  <div id="container" align="center">
    <table>
      <tr>
        <td>
          <div id="piechart" style="width: 750px; height: 400px;"></div>
        </td>
        <td>
            <form class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-6">
                  <label for="fromDate" class="control-label pull-right">from:</label>
                </div>
                <div class="col-xs-6">
                  <input id="fromDate" name="fromDate" class="form-control date-picker" type="text">
                </div>
              </div>
              <div class="col-xs-6">
                  <label for="toDate" class="control-label pull-right">to:</label>
                </div>
                <div class="col-xs-6">
                  <input id="toDate" name="toDate" class="form-control date-picker" type="text">
                </div>
              </div>
              <div class="col-xs-6">
                <button type="button" class="form-control col-xs-2" id="filterButton">Filter</button>
              </div>
            </div>
            </form>
        </td>
      </tr>
    </table>
    
  </div>
</section>
{% endblock %}