{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  function rebuildServiceTable(result){
  $('.table-result td').remove();
  //Now we populate the table based on the filtering parameters
  for (var index in result) {
    var d = new Date(result[index]['date']['$date']);
    var date_string =  d.getDate() + "/" + (d.getMonth() + 1) + "/" + (d.getYear() + 1900);

    var serviceId = result[index]['serviceId'];
    var company = result[index]['company']['slug'];
    var customer_id = result[index]['_id'];

    var url_action_delete = "{{url_for('services.delete_service',company_name='companyName', customer_id='customerID', service_id='serviceID')}}".replace('companyName/customerID/serviceID', company+"/"+customer_id['$oid']+"/"+serviceId['$oid']);

    var url_action_edit = "{{url_for('services.edit_service',company_name='companyName', customer_id='customerID', service_id='serviceID')}}".replace('companyName/customerID/serviceID', company+"/"+customer_id['$oid']+"/"+serviceId['$oid']);

         $("#service-list").append(
          "<tr>" +
              "<td>"+result[index]["company"]['name']+"</td>"+
              "<td>"+result[index]["first_name"]+"</td>"+
              "<td>"+result[index]["last_name"]+"</td>"+
              "<td>"+result[index]["serviceType"]+"</td>"+
              "<td>"+result[index]['contactVia']+"</td>"+
              "<td>"+date_string+"</td>"+
              "<td>"+result[index]["fee"]+"</td>"+
              "<td>"+result[index]["description"]+"</td>"+
              "<td>"+
                "<table align='center'>"+
                  "<tr align='center'>"+
                    "<td>"+
                      "<form method='get' action='"+url_action_edit+"'>"+
                            "<button type='submit'data-toggle='tooltip' data-placement='bottom' title='Edit Service' class='btn btn-default btn-sm btn-defualt'>"+
                              "<span class='glyphicon glyphicon-edit'></span>"+
                            "</button>&nbsp;"+
                          "</form>"+
                    "</td>"+
                    "<td>"+
                      "<form method='get' action='"+url_action_delete+"'>"+
                            "<button type='submit' data-toggle='tooltip' data-placement='bottom' title='Delete Service' class='btn btn-default btn-sm btn-danger'>"+
                              "<span class='glyphicon glyphicon-remove'></span>"+
                            "</button>&nbsp;"+
                          "</form>"+
                    "</td>"+
                  "</tr>"+
                "</table>"+
              "</td>"+
          "</tr>"
        );

  }
};
 
  $(document).ready(function(){
    $('.service-date-picker').datepicker({
          autoclose: true,
          todayHighlight: true,
          format: 'dd/mm/yyyy',
    });

    
    //Get result to populate service table
    $('#searchService').click(function(){
    var service_type = $('#provided_service').val();
    var contactVia = $('#contact_via').val();
    var from_date = $('#from').val();
    var to_date = $('#to').val();
    var url = "{{url_for('api.search_service')}}" + "?serviceType="+service_type+ "&contactVia="+ contactVia +"&from="+from_date+"&to="+to_date;
      $.get(url, function(result){
        rebuildServiceTable(result);
      });
    });
  });

</script>

<section>
	<div class="container" align="center">
    {% if result is defined %}
		<div>    
        <p>{% if result|length > 0 %}Services provided to Customer <strong>{{result[0]['customer']['firstName'] ~" "~
result[0]['customer']['lastName']}}</strong>({{result[0]['company']['name']}}){% endif %}</p>
  	</div>
    {% endif %}

    <div class="panel-heading">
      {% if company_name is defined and result_services|length > 0 %}
        <p>All services provided to Customer: <strong>{{result_services[0]['company']['name']}}</strong></p>
      {% endif %}

    </div>
     {% if pagination_services is defined and pagination_services.items|length > 0 %}
    <p>All Services provided by <strong>ARDA</strong></p>
    <div class="form-group form-group-sm">
        <form class="form-horizontal">
          <div class="col-xs-offset-1 col-xs-3">
            {{ form.provided_service(class='form-control',placeholder='target-group') }}
          </div>
          <div class="col-xs-2">
            {{ form.contact_via(class='form-control',placeholder='target-group') }}
          </div>
          <div class="col-xs-2">
            <input type="text" class="form-control service-date-picker" id='from' name='from' placeholder="from date">
          </div>
          <div class="col-xs-2">
            <input type="text" class="form-control service-date-picker" id='to' name='to' placeholder="to date">
          </div>
          <div class="col-xs-2">
            <button type="button" class="btn btn-info" id="searchService">Search</button>
          </div>
        </form>
    </div>
    {% endif %}
        <br><br>
    
    <div class="panel panel-info ">
      <!-- Default panel contents -->
      <div class="table-responsive">
        <!-- Table -->
        

        <table class="table table-striped table-condensed table-result">
          <thead >
            <tr class="info">
              <th>Customer</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Service Type</th>
              <th>Contacted Via</th>
              <th>Service Date</th>
              <th>Service Fee</th>
              <th>Service Description</th>
              <th>Operations</th>
            </tr>
          </thead>
          {% if result is defined %}
          <tbody id="customers-list">
            {% for service in result %}
            <tr align="center">
              <td>{{service['customer']['firstName']}}</td>
              <td>{{service['customer']['lastName']}}</td>
              <td>{{service['service']['type']}}</td>
              <td>{{service['service']['contactVia']}}</td>
              {% set year = service.service.date.year %}
              {% set month = service.service.date.month %}
              {% set day = service.service.date.day %}
              {% set date_service = (day, month, year)|join("/") %}
              <td>{{date_service}}</td>
              <td>{{service['service']['fee']}}</td>
              <td>{{service['service']['description']}}</td>
              <td>
                <table align="center">
                  <tr align="center">
                  	<td>
                        <form method="get" action="{{url_for('services.edit_service',company_name=service['company']['slug'], customer_id=service['customer']['_id'], service_id=service['service']['serviceId'])}}">
                          <button type="submit" class="btn btn-default btn-sm btn-default">
                            <span class="glyphicon glyphicon-edit"></span>
                          </button>&nbsp;
                        </form>
                    </td>
                    <td>
                      <form method="get" action="{{url_for('services.delete_service',company_name=service['company']['slug'], customer_id=service['customer']['_id'], service_id=service['service']['serviceId'])}}">
                        <button type="submit" class="btn btn-default btn-sm btn-danger">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>&nbsp;
                      </form>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          {% endif %}
          {% if result_services is defined and result_services|length > 0 %}
          <tbody id="customers-list">
            {% for service in result_services %}
            <tr align="center">
              <td>{{service['customer']['firstName']}}</td>
              <td>{{service['customer']['lastName']}}</td>
              <td>{{service['service']['type']}}</td>
              <td>{{service['service']['contactVia']}}</td>
              {% set year = service.service.date.year %}
              {% set month = service.service.date.month %}
              {% set day = service.service.date.day %}
              {% set date_service = (day, month, year)|join("/") %}
              <td>{{date_service}}</td>
              <td>{{service['service']['fee']}}</td>
              <td>{{service['service']['description']}}</td>
              <td>
                <table align="center">
                  <tr align="center">
                  	<td>
                        <form method="get" action="{{url_for('services.edit_service',company_name=service['company']['slug'], customer_id=service['customer']['_id'], service_id=service['service']['serviceId'])}}">
                          <button type="submit" class="btn btn-default btn-sm btn-default">
                            <span class="glyphicon glyphicon-edit"></span>
                          </button>&nbsp;
                        </form>
                    </td>
                    <td >
                      <form method="get" action="{{url_for('services.delete_service',company_name=service['company']['slug'], customer_id=service['customer']['_id'], service_id=service['service']['serviceId'])}}">
                        <button type="submit" class="btn btn-default btn-sm btn-danger">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>&nbsp;
                      </form>
                      
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          {% endif %}
          {% if pagination_services is defined and pagination_services.items|length > 0 %}
          <tbody id="service-list">
            {% for service in pagination_services.items %}
              <tr align="center">
                <td>{{service["company"]['name']}}</td>
                <td>{{service['customer']['firstName']}}</td>
                <td>{{service['customer']['lastName']}}</td>
                <td>{{service['service']['type']}}</td>
                <td>{{service['service']['contactVia']}}</td>
                {% set year = service.service.date.year %}
                {% set month = service.service.date.month %}
                {% set day = service.service.date.day %}
                {% set date_service = (day, month, year)|join("/") %}
                <td>{{date_service}}</td>
                <td>{{service['service']['fee']}}</td>
                <td>{{service['service']['description']}}</td>
                <td>
                  <table align="center">
                    <tr align="center">
                      <td>
                          <form method="get" action="{{url_for('services.edit_service',company_name=service['company']['slug'], customer_id=service['customer']['_id'], service_id=service['service']['serviceId'])}}">
                            <button type="submit" data-toggle='tooltip' data-placement='bottom' title='Edit Service' class="btn btn-default btn-sm btn-default">
                              <span class="glyphicon glyphicon-edit"></span>
                            </button>&nbsp;
                          </form>
                      </td>
                      <td >
                        <form method="get" action="{{url_for('services.delete_service',company_name=service['company']['slug'], customer_id=service['customer']['_id'], service_id=service['service']['serviceId'])}}">
                          <button type="submit" data-toggle='tooltip' data-placement='bottom' title='Delete Service' class="btn btn-default btn-sm btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>&nbsp;
                        </form>
                        
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              {% endfor %}
              
          </tbody>
        </table>
        <div class="pagination">
            <ul class="pagination">
                <li><a href="#" class="fa fa-angle-left"></a></li>
                {% for page in pagination_services.iter_pages() %}
                  {% if page %}
                    {% if page != pagination_services.page %}
                        <li><a href="{{url_for('customers.customers')}}?faqe={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                <li><a href="#" class="fa fa-angle-right"></a></li>
            </ul>
        </div>
        <a download="Services.xls" class="btn btn-sm btn-success" href="#" onclick="return ExcellentExport.excel(this, 'services', 'Services');">Export Current View</a>
        <a download="All Services.xls" href="{{url_for('customers.export_services')}}" style="margin-right:2px;" class="btn btn-sm btn-success">Export All</a>
      </div>
      {% endif %}
    </div>
		
	</div>
</section>


{% endblock %}