{% extends "layout.html" %}
{% block body %}
<section>
	<div class="container" align="center">
    {% if result is defined %}
		<div>    
        <p>{% if result|length > 0 %}Services provided to Customer <strong>{{result[0]['customer']['firstName'] ~" "~
result[0]['customer']['lastName']}}</strong>({{result[0]['company']['name']}}){% endif %}</p>
  	</div>
    {% endif %}

    <div class="panel-heading">
      {% if company_name is defined and result_services|length > 0 %}
        <p>All services provided to Company: <strong>{{result_services[0]['company']['name']}}</strong></p>
      {% endif %}

    </div>
        <br><br>
    
    <div class="panel panel-info ">
      <!-- Default panel contents -->
      <div class="table-responsive">
        <!-- Table -->
        

        <table class="table table-striped table-condensed table-result">
          <thead >
            <tr class="danger">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Service Type</th>
              <th>Contacted Via</th>
              <th>Service Date</th>
              <th>Service Fee</th>
              <th>Service Description</th>
              <th>Operations</th>
            </tr>
          </thead>
          {% if result is defined %}
          <tbody id="customers-list">
            {% for service in result %}
            <tr align="center">
              <td>{{service['customer']['firstName']}}</td>
              <td>{{service['customer']['lastName']}}</td>
              <td>{{service['service']['type']}}</td>
              <td>{{service['service']['contactVia']}}</td>
              {% set year = service.service.date.year %}
              {% set month = service.service.date.month %}
              {% set day = service.service.date.day %}
              {% set date_service = (day, month, year)|join("/") %}
              <td>{{date_service}}</td>
              <td>{{service['service']['fee']}}</td>
              <td>{{service['service']['description']}}</td>
              <td>
                <table align="center">
                  <tr align="center">
                  	<td>
                        <form method="get" action="{{url_for('services.edit_service',company_name=service['company']['slug'], customer_id=service['customer']['_id'], service_id=service['service']['serviceId'])}}">
                          <button type="submit" class="btn btn-default btn-sm btn-default">
                            <span class="glyphicon glyphicon-edit"></span>
                          </button>&nbsp;
                        </form>
                    </td>
                    <td>
                      <form method="get" action="{{url_for('services.delete_service',company_name=service['company']['slug'], customer_id=service['customer']['_id'], service_id=service['service']['serviceId'])}}">
                        <button type="submit" class="btn btn-default btn-sm btn-danger">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>&nbsp;
                      </form>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
          {% if result_services is defined and result_services|length > 0 %}
          <tbody id="customers-list">
            {% for service in result_services %}
            <tr align="center">
              <td>{{service['customer']['firstName']}}</td>
              <td>{{service['customer']['lastName']}}</td>
              <td>{{service['service']['type']}}</td>
              <td>{{service['service']['contactVia']}}</td>
              {% set year = service.service.date.year %}
              {% set month = service.service.date.month %}
              {% set day = service.service.date.day %}
              {% set date_service = (day, month, year)|join("/") %}
              <td>{{date_service}}</td>
              <td>{{service['service']['fee']}}</td>
              <td>{{service['service']['description']}}</td>
              <td>
                <table align="center">
                  <tr align="center">
                  	<td>
                        <form method="get" action="{{url_for('services.edit_service',company_name=service['company']['slug'], customer_id=service['customer']['_id'], service_id=service['service']['serviceId'])}}">
                          <button type="submit" class="btn btn-default btn-sm btn-default">
                            <span class="glyphicon glyphicon-edit"></span>
                          </button>&nbsp;
                        </form>
                    </td>
                    <td >
                      <form method="get" action="{{url_for('services.delete_service',company_name=service['company']['slug'], customer_id=service['customer']['_id'], service_id=service['service']['serviceId'])}}">
                        <button type="submit" class="btn btn-default btn-sm btn-danger">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>&nbsp;
                      </form>
                      
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
		
	</div>
</section>


{% endblock %}