{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  $(document).ready(function(){

      $('.service-date-picker').datepicker({
          autoclose: true,
          todayHighlight: true,
          format: 'dd/mm/yyyy',
      });
      $('.passform').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                oldPassword: {
                    validators: {
                      notEmpty : {
                          message: 'Please fill the filed!'
                      },
                      date: {
                          format: 'DD/MM/YYYY',
                          message: 'Fill the filed to the proper format, dd/mm/YYYY'
                      }
                  }
                }
            }
        });
  });
</script>

<section>
	<div class="container" align="center">
    {% if result is defined %}
		<div>

	      <a href="#" data-original-title="Add service" data-toggle="modal" data-target="#add-service-form-modal" data-backdrop="false" type="button" class="btn btn-sm btn-primary">
        Add Service</a>

        <p>{% if result|length > 0 %}Services provided to Customer <strong>{{result[0]['customer']['firstName'] ~" "~
result[0]['customer']['lastName']}}</strong>({{result[0]['company']['name']}}){% endif %}</p>
  	</div>
    {% endif %}

    <div class="panel-heading">
      {% if company_name is defined and result_services|length > 0 %}
        <p>All services provided to Company: <strong>{{result_services[0]['company']['name']}}</strong></p>
      {% endif %}

      {% if not company_name and result_services|length > 0  %}
      <p>All Services provided by <strong>ARDA</strong></p>
      {% endif %}
    </div>
        <br></br>
    
    <div class="panel panel-info ">
      <!-- Default panel contents -->
      <div class="table-responsive">
        <!-- Table -->
        

        <table class="table table-striped table-condensed">
          <thead >
            <tr class="danger">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Service Type</th>
              <th>Service Date</th>
              <th>Service Fee</th>
              <th>Service Description</th>
              <th>Operations</th>
            </tr>
          </thead>
          {% if result is defined %}
          <tbody id="customers-list">
            {% for service in result %}
            <tr>
              <td>{{service['customer']['firstName']}}</td>
              <td>{{service['customer']['lastName']}}</td>
              <td>{{service['service']['type']}}</td>
              <td>{{service['service']['date']}}</td>
              <td>{{service['service']['fee']}}</td>
              <td>{{service['service']['description']}}</td>
              <td>
                <table>
                  <tr>
                    <td>
                      
                      <form method="get" action="{{url_for('services.delete_service',company_name=service['company']['slug'], customer_id=service['customer']['_id'], service_id=service['service']['serviceId'])}}">
                        <button type="submit" class="btn btn-default btn-sm btn-danger">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>&nbsp;
                      </form>
                      
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
          {% if result_services is defined and result_services|length > 0 %}
          <tbody id="customers-list">
            {% for service in result_services %}
            <tr>
              <td>{{service['customer']['firstName']}}</td>
              <td>{{service['customer']['lastName']}}</td>
              <td>{{service['service']['type']}}</td>
              <td>{{service['service']['date']}}</td>
              <td>{{service['service']['fee']}}</td>
              <td>{{service['service']['description']}}</td>
              <td>
                <table>
                  <tr>
                    <td>
                      
                      <form method="get" action="{{url_for('services.delete_service',company_name=service['company']['slug'], customer_id=service['_id'], service_id=service['serviceId'])}}">
                        <button type="submit" class="btn btn-default btn-sm btn-danger">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>&nbsp;
                      </form>
                      
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
		
	</div>
</section>

<!-- modal to add new service -->
    <div class="portfolio-modal modal fade" id="add-service-form-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="modal-body">                            
                    <h4>Add new service by filling the fields below</h4>
                    <br></br>
                    <form class="form-horizontal serviceForm" method="post" action="{{url_for('services.edit_service')}}">
                    	<div class="form-group col-xs-offset-3 col-xs-9">
                        <input type="hidden" name="company_name" id="company_name" value="{{company_name}}"/>
                        <input type="hidden" name="customer_id" id="customer_id" value="{{customer_id}}"/>
                    		<div class="col-xs-6">
                        		<label class="control-label pull-right" for="providedService">Provided Service:</label>
                        	</div>
                        	<div class="col-xs-6">
                                <select class="form-control col-xs-6" id="providedService" name="providedService">
                                  <option value="Phone calls">Phone calls</option>
                                  <option value="E-mail">E-mail</option>
                                  <option value="Face-to-face meeting">Face-to-face meeting</option>
                                </select> 
                        	</div>
                    	</div>
                    	<div class="form-group col-xs-offset-3 col-xs-9">
                    		<div class="col-xs-6">
                        		<label for="date" class="control-label pull-right">Date:</label>
                        	</div>
                        	<div class="col-xs-6">
                        		<input id="date" name="date" class="form-control service-date-picker" type="text">
                        	</div>
                        </div>
                        <div class="form-group col-xs-offset-3 col-xs-9">
                            <div class="col-xs-6">
                                <label for="fee" class="control-label pull-right">Service Fee:</label>
                            </div>
                            <div class="col-xs-6">
                                <input id="fee" name="fee" class="form-control" type="integer">
                            </div>
                        </div>
                    	<div class="form-group col-xs-offset-3 col-xs-9">
                    		<div class="col-xs-6">
                    			<label for="description" class="control-label pull-right">Description:</label>
                    		</div>
                    		<div class="col-xs-6">
                    			<textarea rows="4" id="description" name="description" class="form-control" ></textarea>
                    		</div>
                    	</div>
                    	<br>
                    	</br>
                        <div class="form-group col-xs-12" >
        				    <button type="submit" class="col-xs-offset-1 btn btn-primary">Save Service</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}