{% extends "layout.html" %}
{% set active_page = url_for('analytics.analytics') %}
{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='analytics-controls/analytics-controls.css') }}" />
<script src="{{ url_for('static', filename='analytics-controls/analytics-controls.js') }}"></script>

<script type="text/javascript">
  var service_result = {{results|tojson}} 

  google.load("visualization", "1", {packages:["corechart"]});
  
  //draw Value chart 
  function drawValuePieChart(result){
    var title = "Incomes based on services fee";
    drawChart(title, "pieValueChart", result, true);
  }

  //draw count chart
  function drawCountPieChart(result){

    var title = "Number of all provided services based on service type";
    drawChart(title, "pieCountChart", result, false);
  }

    function drawContractValueChart(title, resultJson, containerDivId, isCurrency) {
      var data = google.visualization.arrayToDataTable([
          ['Muaji'],
          ["January"],
          ["February"],
          ["March"],
          ["April"],
          ["May"],
          ["June"],
          ["July"],
          ["August"],
          ["September"],
          ["October"],
          ["November"],
          ["December"]
        ]);

        var currentServiceType = "";
        var columnIndex = 0;
        var columnLenght = 0;

        for (var key in resultJson ){
          if (resultJson[key].serviceType != currentServiceType){
            data.addColumn('number', resultJson[key].serviceType, resultJson[key].serviceType);
            currentServiceType = resultJson[key].serviceType;
            columnLenght = columnLenght + 1;
            columnIndex = columnIndex + 1;
          }

          if( containerDivId == "lineValueChart"){
            data.setCell(resultJson[key].month-1, columnIndex, resultJson[key].sumOfService);
          } else {
            data.setCell(resultJson[key].month-1, columnIndex, resultJson[key].countServices);
          }
        }

        $('input[type=checkbox]').each(function() {
          if (checkRadioButtons($(this)) == null) {
            var id = data.getColumnIndex($(this).val());
            if(id > 0){
              columnLenght = columnLenght - 1;
              data.removeColumn(id);
            }
          }
        });


        if(isCurrency == true){
          // Formater for column cells to display numbers as currency
          var formatter = new google.visualization.NumberFormat({
                  fractionDigits: 2,
                  prefix: '€ '
          });

          for(var i=1; i <= columnLenght; i++){
            formatter.format(data, i);
          }
        }

        var options = {
          'title': title,
          'vAxis': {
            'title': "Value"
          },
          'hAxis': {
            'title': "Months"
          }
        };

        var chart = new google.visualization.LineChart(document.getElementById(containerDivId));

        chart.draw(data, options);
    };
  //draw pie chart 
  function drawChart(title, containerId, results, isCurrency) {
        var dataTable = new google.visualization.DataTable()
        dataTable.addColumn('string', 'Service Type');
        dataTable.addColumn('number', 'Service Fee');

        for(var idx in results){
          var type = results[idx]['serviceType'];
          if (containerId === "pieValueChart") {
              var sum = results[idx]['valueOfService']; 
          } else{
              var sum = results[idx]['countServices']
          }
          type = type.toString();
          dataTable.addRow([type, sum]);
        }

        var options = {
          title: title
        };
        var formatter = new google.visualization.NumberFormat({
                fractionDigits: 2,
                prefix: '€ '
        });

        $('input[type=checkbox]').each(function(){
          if (checkRadioButtons($(this)) == null) {
            var value = dataTable.getFilteredRows([{column: 0, value: $(this).val()}]);
            if(value != []){
              dataTable.removeRow(value[0]);
            }
          }
        });

        if(isCurrency == true){
          formatter.format(dataTable, 1);
        }

        var chart = new google.visualization.PieChart(document.getElementById(containerId));
        chart.draw(dataTable, options);
  };

  //load document 
  $(document).ready(function() {
    $('input[type=checkbox]').each(function(){
        $(this).prop("checked", true);
    })
    //$('#provided_services_check-1').prop("checked", true);
    disableTextboxes();
    $('#fromDate').hide();
    $('#toDate').hide();

    var region = $('#region-select').val();

    var url = "{{ url_for('api.search_service_analytics') }}" + "?region=" + region;


    $.get(url, function(service_result){
      drawValuePieChart(service_result);
      drawCountPieChart(service_result);
    });

    $('#filterButton').click(function(){
      var chartTypeSelected = $('input[name=rb1]:checked', '#chart-type-form').val();
      var dateRadioSelected = $('input[name=rb2]:checked', '#date-range-form').val();
      var company = $('#company-name').val();
      var customerFirstName = $('#customer-first-name').val();
      var customerLastName = $('#customer-last-name').val();
      var region = $('#region-select').val();
       
      var date = new Date();
      var date_now =  date.getDate() + "-" + (date.getMonth() + 1) + "-" + (date.getYear() + 1900);
      var last_seven_days = (date.getDate() - 7) + "-" + (date.getMonth() + 1) + "-" + (date.getYear() + 1900);
      var last_thirty_days = date.getDate() + "-" + date.getMonth() + "-" + (date.getYear() + 1900);
      var url = "";

      if (chartTypeSelected == "pie-chart") {
        if(dateRadioSelected == "no-limit"){
          url = "{{ url_for('api.search_service_analytics') }}" + "?region=" + region + "&company=" + company + "&customerFname=" + customerFirstName + "&customerLname=" + customerLastName;
        } else if (dateRadioSelected == "last-seven") {
          url = "{{ url_for('api.search_service_analytics') }}" + "?from=" + last_seven_days + "&to=" + date_now + "&region=" + region + "&company=" + company + "&customerFname=" + customerFirstName + "&customerLname=" + customerLastName;
        } else if (dateRadioSelected == "last-thirty") {
          url = "{{ url_for('api.search_service_analytics') }}" + "?from=" + last_thirty_days.toString() + "&to=" + date_now + "&region=" + region + "&company=" + company + "&customerFname=" + customerFirstName + "&customerLname=" + customerLastName;
        } else if (dateRadioSelected == "data-range"){
          var from_date = $('#fromDate').val();
          var to_date = $('#toDate').val();
          url = "{{ url_for('api.search_service_analytics') }}" + "?from=" + from_date + "&to=" + to_date + "&region=" + region + "&company=" + company + "&customerFname=" + customerFirstName + "&customerLname=" + customerLastName;
        }

        $.get(url, function(result){
            drawValuePieChart(result);
            drawCountPieChart(result);
          });

        $('#pieValueChart').css('display', "block");
        $('#pieCountChart').css('display', "block");
        $('#lineValueChart').css('display', "none");
        $('#lineCountChart').css('display', "none");
      } else {
        var year = $('#year').val();
        var url = "{{ url_for('api.search_service_analytics_linechart') }}" + "?region=" + region + "&year=" + year + "&company=" + company + "&customerFname=" + customerFirstName + "&customerLname=" + customerLastName;


        if (year == ""){
          url = "{{ url_for('api.search_service_analytics_linechart') }}" + "?region=" + region + "&year=2015&company=" + company + "&customerFname=" + customerFirstName + "&customerLname=" + customerLastName;
        }
        
        $.get(url, function(resultJson){
          drawContractValueChart("Incomes based on services fee", resultJson, "lineValueChart", true);
          drawContractValueChart("Number of all provided services based on service type", resultJson, "lineCountChart", false);
        });

        $('#pieValueChart').css('display', "none");
        $('#pieCountChart').css('display', "none");
        $('#lineValueChart').css('display', "block");
        $('#lineCountChart').css('display', "block");
      }
    });
    
    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'dd-mm-yyyy',
    });

    $('.date-picker-month-year').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'mm-yyyy',
        viewMode: "months", 
        minViewMode: "months"
      });

    $('.date-picker-year').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'yyyy',
        viewMode: "years", 
        minViewMode: "years"
      });
  });

  function disableTextboxes(){
    $('#data-range[type="radio"]').click(function(){
      if ($(this).is(':checked'))
      {
        $('#fromDate').show();
        $('#toDate').show();
      }
    });
    $('#no-limit[type="radio"]').click(function(){
      if ($(this).is(':checked'))
      {
        $('#fromDate').val("");
        $('#toDate').val("");
        $('#fromDate').hide();
        $('#toDate').hide();
      }
    });
    $('#last-thirty[type="radio"]').click(function(){
      if ($(this).is(':checked'))
      {
        $('#fromDate').val("");
        $('#toDate').val("");
        $('#fromDate').hide();
        $('#toDate').hide();
      }
    });
    $('#last-seven[type="radio"]').click(function(){
      if ($(this).is(':checked'))
      {
        $('#fromDate').val("");
        $('#toDate').val("");
        $('#fromDate').hide();
        $('#toDate').hide();
      }
    });
  }

function checkCheckBoxes(id){
  if(id == "face-to-face-meeting") {
    return "Face-To-Face meeting";
  } else if(id == "e-mails") {
    return "E-Mail"
  } else if (id == "phone-calls") {
    return "Phone Call"
  }
}


  function checkRadioButtons(id){
    var result;
    if ($(id).is(':checked')) {
      result = $(id).val();
    } else {
      result = null;
    }
    return result;
  }
</script>

<!-- body has the class "cbp-spmenu-push" -->
<nav style="margin-top:40px;" class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
  <ul>
    <li id="menuTitle" class="cbp-spmenu-title"><b>Filters<b>
      <span id="showLeft" class="showLeft">&laquo;<span>
    </li>

    <li class="cbp-spmenu-vertical-item-parent" id="chart-type">
      Chart Type
    </li>
    <li class="cbp-spmenu-vertical-item-child" id="chart-type">
      <form id="chart-type-form">
        <input type="radio" id="pie-chart" name="rb1" value="pie-chart" class="chart-type" checked />
        <label for="pie-chart"><span></span>Pie Chart</label>
        <br>

        <input type="radio" id="line-chart" name="rb1" value="line-chart" class="chart-type" />
        <label for="line-chart"><span></span>Line Chart</label>
      </form>
    </li>

    <li class="cbp-spmenu-vertical-item-parent" id="region">
      Region
    </li>
    <li class="cbp-spmenu-vertical-item-child" id="region" style="padding-right: 30px;padding-left: 30px;display: none;">
      <select id="region-select" class="form-control">
      {% if current_user.region == "All" %}
        <option value="All">All Regions</option>
        <option value="West">West</option>
        <option value="South">South</option>
        <option value="North">North</option>
        <option value="East">East</option>
        <option value="Center">Center</option>
      {% else %}
      <option value="{{current_user['region']}}">{{current_user['region']}}</option>
      {% endif %}
      </select>
    </li>

    <li class="cbp-spmenu-vertical-item-parent" id="company">
      Customer
    </li>
    <li class="cbp-spmenu-vertical-item-child" id="company" style="padding-right: 30px;padding-left: 30px;display: none;">
      <input type="text" id="company-name" class="form-control" placeholder="Company" />
      <input type="text" id="customer-first-name" class="form-control" placeholder="First Name" />
      <input type="text" id="customer-last-name" class="form-control" placeholder="Last Name" />
    </li>

    <li class="cbp-spmenu-vertical-item-parent" id="service-types">
      Service Types
    </li>
    <li id="service-types" class="cbp-spmenu-vertical-item-child" style="display:none;">
      <div id="services">
        {% for subfield in form.provided_services_check %}
                  {{ subfield }}
                  {{ subfield.label }}<br>
          {% endfor %}
      </div>
    </li>

    <li class="cbp-spmenu-vertical-item-parent" id="dates">
      Dates
    </li>
    <li class="cbp-spmenu-vertical-item-child pie-chart-dates" id="pie-chart-dates" style="display:none;">
    <form id="date-range-form">
      <input type="radio" id="no-limit" name="rb2" value="no-limit" class="date-radio" checked />
      <label for="no-limit"><span></span>No Limit</label>
      <br>

      <input type="radio" id="last-thirty" name="rb2" value="last-thirty" class="date-radio" />
      <label for="last-thirty"><span></span>Last 30 Days</label>
      <br>

      <input type="radio" id="last-seven" name="rb2" value="last-seven" class="date-radio" />
      <label for="last-seven"><span></span>Last 7 Days</label>
      <br>
    
      <input type="radio" id="data-range" name="rb2" value="data-range" class="date-radio" />
        <label for="data-range"><span></span>Date Range:</label>
        <div style="padding-right:30px;padding-left: 30px;">
          <input type="text" id="fromDate" name="fromDate" class="form-control date-picker" placeholder="Start Date">
          <input type="text" id="toDate" name="toDate" class="form-control date-picker" placeholder="End Date">
        </div>
      <br>
      </form>
    </li>
    <li class="cbp-spmenu-vertical-item-child line-chart-dates" id="line-chart-dates" style="padding-right:30px;padding-left: 30px;display:none;">
        <input type="text" id="year" name="year" class="form-control date-picker-year" placeholder="Year">
      <br>
    </li>
    <li style="border-bottom-width:0px;padding-right:30px;padding-left:30px;">
      <button type="button" class="form-control" id="filterButton">Filter</button>
    </li>
  </ul>
</nav>

<section id="portofolio">
  <div id="container" align="center">
    <div id="pieValueChart" style="width: 750px; height: 400px;"></div>
    <div id="pieCountChart" style="width: 750px; height: 400px;"></div>
    <div id="lineValueChart" style="display:none; margin: -50px 0 0 50px; width: 950px; height: 650px;"></div>
    <div id="lineCountChart" style="display:none; margin: -50px 0 0 50px; width: 950px; height: 650px;"></div>
  </div>

</section>

    
{% endblock %}