{% extends "layout.html" %}
{% block body %}
<script>
$(document).ready(function(){
	$(".roles").children().each(function() {
	    var attr = $(this).children().first().attr('checked');
	    if (typeof attr !== typeof undefined && attr !== false) {
	        $(this).addClass("active");
	    }
	});

  $('.passform').formValidation({
      framework: 'bootstrap',
      icon: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
          password: {
              validators: {
                  notEmpty: {
                      message: "Password field can't be empty!"
                  }
              }
          }
      }
  });

});

</script>
<section>
	<div class="container">
		<form method="post" action="{{action}}" class="form-horizontal passform">
			<div class="form-group">
	            {{ form.first_name.label(class_="control-label col-xs-4") }}
	            <div class="col-xs-3">
	                {{ form.first_name(class_="form-control") }}
	             </div>
	        </div>
	        <div class="form-group">
	            {{ form.last_name.label(class_="control-label col-xs-4") }}
	            <div class="col-xs-3">
	                {{ form.last_name(class_="form-control") }}
	             </div>
	        </div>
	        <div class="form-group">
	            {{ form.region.label(class_="control-label col-xs-4") }}
	            <div class="col-xs-3">
	                {{ form.region(class_="form-control") }}
	             </div>
	        </div>
	        <div class="form-group">
	            {{ form.email.label(class_="control-label col-xs-4") }}
	            <div class="col-xs-3">
	                {{ form.email(class_="form-control") }}
	             </div>
	        </div>
	        <div class="form-group pass-div">
	            {{ form.password.label(class_="control-label col-xs-4") }}
	            <div class="col-xs-3">
	                {{ form.password(class_="form-control") }}
	             </div>
	        </div>
	        <div class="form-group">
	            {{ form.role.label(class_="control-label col-xs-4") }}
	            <div class="btn-group col-xs-3 roles role" data-toggle="buttons">
	                {% for subfield in form.role %}
	                    <div class="btn btn-default col-xs-12">
	                        {{ subfield }}
	                        {{ subfield.label }}
	                    </div>
	                {% endfor %}
	            </div>
	        </div>
	        <div class="col-xs-offset-5">
	        	<button type="subbmit" class="btn btn-warning">Save</button>
	        </div>
		</form>
	</div>
</section>
{% endblock %}