{% extends "layout.html" %}
{% block body %}
<script>
$(".roles").children().each(function() {
    var attr = $(this).children().first().attr('checked');
    if (typeof attr !== typeof undefined && attr !== false) {
        $(this).addClass("active");
    }
});
</script>
<section>
	<div class="container">
	<h4>User managment</h4>
		<form method="post" action="{{action}}" class="form-horizontal">
			<input type="hidden" name="action" id="action" value="create" />
			<input type="hidden" name="docId" id="docId" value="1" />
			<div class="form-group">
	            {{ form.first_name.label(class_="control-label col-xs-4") }}
	            <div class="col-xs-3">
	                {{ form.first_name(class_="form-control") }}
	             </div>
	        </div>
	        <div class="form-group">
	            {{ form.last_name.label(class_="control-label col-xs-4") }}
	            <div class="col-xs-3">
	                {{ form.last_name(class_="form-control") }}
	             </div>
	        </div>
	        <div class="form-group">
	            {{ form.email.label(class_="control-label col-xs-4") }}
	            <div class="col-xs-3">
	                {{ form.email(class_="form-control") }}
	             </div>
	        </div>
	        <div class="form-group">
	            {{ form.password.label(class_="control-label col-xs-4") }}
	            <div class="col-xs-3">
	                {{ form.password(class_="form-control") }}
	             </div>
	        </div>
	        <div class="form-group">
	            {{ form.role.label(class_="control-label col-xs-4") }}
	            <div class="btn-group col-xs-3 roles" data-toggle="buttons">
	                {% for subfield in form.role %}
	                    <div class="btn btn-default col-xs-6">
	                        {{ subfield }}
	                        {{ subfield.label }}
	                    </div>
	                {% endfor %}
	            </div>
	        </div>
	        <div class="col-xs-offset-5">
	        	<button type="subbmit" class="btn btn-warning">Save</button>
	        </div>
		</form>
	</div>
</section>
{% endblock %}