{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
$(document).ready(function(){
   
   $('.passform').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            oldPassword: {
                validators: {
                    notEmpty: {
                        message: "Password field can't be empty!"
                    }
                }
            },
            newPassword: {
                err: '#passwordMessage',
                validators: {
                    notEmpty: {
                        message: "Password field can't be empty!"
                    }
                }
            },
            passwordConfirm: {
                err: '.passMessage',
                validators: {
                    notEmpty: {
                        message:  "Password field can't be empty!"
                    },
                    identical: {
                    field: 'newPassword',
                    message: "Password doesn't match!"
                    }
                }
            }
        }
   });
   //open delete dialog for contacting manners/service types
   $('.deleteit').click(function (event) {
   var myVal = $(this).attr('id');
   var checkMe = $(this).attr('title');

   if (checkMe == "Delete Service"){
      $('#btnDel').attr('action', function(i, value) {
         return "{{url_for('admin.delete_service_type', type_id='itemID')}}".replace('itemID', myVal)
      });
   }
   else{
      $('#btnDel').attr('action', function(i, value) {
         return "{{url_for('admin.delete_contact_type', type_id='itemID')}}".replace('itemID', myVal)
      });
   }     
   });
   $('.updateit').click(function(){      
      check = $(this).attr('id');
      var tr_id = "tr." + check;

      var row_data = [];    
      $('td', tr_id).each(function(){
           row_data.push($(this).text());              
      });
      $('#contactId').val(check);
      $('#cont-region').val(row_data[0]);
      $('#contact_via').val(row_data[1]);
      $('#contact_description').val(row_data[2]);
      $('#service-region').val(row_data[0]);
      $('#edit_service_type').val(row_data[1]);
      $('#edit_service_description').val(row_data[2]);
      $('#serviceId').val(check);


      console.log(row_data);     
      row_data.pop();
   });
   //clear modal form data on close button click
   $('[data-dismiss=modal]').on('click', function (e) {
    var $t = $(this),
        target = $t[0].href || $t.data("target") || $t.parents('.modal') || [];    
     $(target)
       .find("input,textarea,select")
          .val('')
          .end();
   });
});
</script>
<style type="text/css">
   .table {
    table-layout: fixed;
    width: 100%;
}

.table td {
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}
</style>
<section>
   <div role="tabpanel" style="padding-left:2%;padding-right:2%">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
         {% if current_user.has_role('Admin') %}
         <li role="presentation" class="active">
            <a href="#main" aria-controls="main" role="tab" data-toggle="tab">Main</a>
         </li>
         <li role="presentation">
            <a href="#servicesType" aria-controls="servicesType" role="tab" data-toggle="tab">Service Managment</a>
         </li>
         <li role="presentation">
            <a href="#contactViaType" aria-controls="contactViaType" role="tab" data-toggle="tab">Contacting Manners</a>
         </li>
         {% else %}
         <li role="account">
            <a href="#portfolio" aria-controls="portfolio" role="tab" data-toggle="tab">Account Settings</a>
         </li>
         {% endif %}
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
         {% if current_user.has_role('Admin') %}
         <div role="tabpanel" class="tab-pane active" id="main">
            <br>
            <div class="container" align="center">
               <form method="post" action="{{url_for('admin.settings')}}" class="form-horizontal">
                  <div class="form-group">
                     {{ form.site_title.label(class_="control-label col-xs-3") }}
                     <div class="col-xs-6">
                        {{ form.site_title(class_="form-control") }}
                     </div>
                  </div>
                  <div class="form-group">
                     {{ form.site_tagline.label(class_="control-label col-xs-3") }}
                     <div class="col-xs-6">
                        {{ form.site_tagline(class_="form-control") }}
                     </div>
                  </div>
                  <div class="form-group">
                     {{ form.site_navbar_title.label(class_="control-label col-xs-3") }}
                     <div class="col-xs-6">
                        {{ form.site_navbar_title(class_="form-control") }}
                     </div>
                  </div>
                  <div class="form-group">
                     {{ form.web_url.label(class_="control-label col-xs-3") }}
                     <div class="col-xs-6">
                        {{ form.web_url(class_="form-control") }}
                     </div>
                  </div>
                  <div class="form-group">
                     {{ form.fb_url.label(class_="control-label col-xs-3") }}
                     <div class="col-xs-6">
                        {{ form.fb_url(class_="form-control") }}
                     </div>
                  </div>
                  <div class="form-group">
                     {{ form.tw_url.label(class_="control-label col-xs-3") }}
                     <div class="col-xs-6">
                        {{ form.tw_url(class_="form-control") }}
                     </div>
                  </div>
                  <div class="form-group">
                     {{ form.li_url.label(class_="control-label col-xs-3") }}
                     <div class="col-xs-6">
                        {{ form.li_url(class_="form-control") }}
                     </div>
                  </div>
                  <div class="form-group">
                     {{ form.support_email.label(class_="control-label col-xs-3") }}
                     <div class="col-xs-6">
                        {{ form.support_email(class_="form-control") }}
                     </div>
                  </div>
                  <div align="center">
                     <button type="submit" class="btn btn-info">Save</button>
                  </div>
               </form>
            </div>
         </div>
         <div role="tabpanel" class="tab-pane" id="portfolio">
            <br>
            <div class="container">
               {% if portfolio != None and portfolio|length > 0 %}
               <div class="panel">
                  <!-- Default panel contents -->
                  <div class="panel-body">
                     <!-- Table -->
                     <table class="table table-striped">
                        <thead>
                           <tr>
                              <th></th>
                              <th>Title</th>
                              <th>Subtitle</th>
                              <th>Description</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for item in portfolio %}
                           <tr>
                              <td><img width="250" src="{{ item['image_url'] }}"/></td>
                              <td>{{ item['title'] }}</td>
                              <td>{{ item['subtitle'] }}</td>
                              <td>{{ item['description'] }}</td>
                              <td>
                                 <table>
                                    <tr>
                                       <td>
                                          <form method="get">
                                             <button type="submit" class="btn btn-default btn-sm btn-default">
                                             <span class="glyphicon glyphicon-edit"></span>
                                             </button>&nbsp;
                                          </form>
                                       </td>
                                       <td>
                                          <form method="get" action="{{ url_for('admin.settings_portfolio_delete', item_id='') }}{{ item['id'] }}">
                                             <button type="submit" class="btn btn-default btn-sm btn-danger">
                                             <span class="glyphicon glyphicon-remove"></span>
                                             </button>&nbsp;
                                          </form>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
               {% endif %}
               <div align="right">
                  <a href="#portfolioModal" class="portfolio-link btn btn-info" data-toggle="modal">
                  Add Item
                  </a>
               </div>
            </div>
         </div>
         <div role="tabpanel" class="tab-pane" id="servicesType">
            <br>
            <div class="container">
               <div class="form-group">
                  <div class="form-group">
                     <p align="center">Manage types of Provided Services</p>
                     <form class="form-horizontal" method="post" action="{{url_for('admin.add_service_type', type_id=type_id)}}">
                        {% if current_user.region == "All" %}
                        <div class="col-xs-2">
                           <select id="region" name='region' class="form-control">
                              <option value="West">West</option>
                              <option value="South">South</option>
                              <option value="North">North</option>
                              <option value="East">East</option>
                              <option value="Center">Center</option>
                           </select>
                        </div>
                        {% endif %}
                        <div class="col-xs-1">
                           <label for="serviceType" class="control-label pull-right">Service Type:</label>
                        </div>
                        <div class="col-xs-3">
                           <input id="serviceType" name="serviceType" class="form-control" type="text">
                        </div>
                        <div class="col-xs-1">
                           <label for="serviceDescription" class="control-label pull-right">Description:</label>
                        </div>
                        <div class="col-xs-3">
                           <textarea id="serviceDescription" name="serviceDescription" cols="26"></textarea>
                        </div>
                        <div class="form-group col-xs-2">
                           <button type="submit" id="addType" class="col-xs-offset-1 btn btn-info">Add Type</button>                           
                        </div>
                     </form>
                  </div>
               </div>
               <br><br></br>
               {% if service_type|length > 0%}
               <div class="panel panel-info ">
                  <!-- Default panel contents -->
                  <div class="table-responsive">
                     <!-- Table -->
                     <table class="table table-striped">
                        <thead>
                           <tr class="success">
                              <th style="display:none;">Region</th>
                              <th>Service Type</th>
                              <th>Description</th>
                              <th>Operation</th>
                           </tr>
                        </thead>
                        <tbody id="user-list">
                        {% for result in service_type %}
                        
                           <tr align="center" class="{{result['serviceId']}}">
                           <td style="display:none">{{result['region']}}</td>
                              <td>{{result['serviceType']}}</td>
                              <td>{{result['description']}}</td>
                              <td>
                              <table align='center'>
                                    <tr align='center'>
                                       <td>
                                          <a class="deleteit btn btn-danger btn-sm" id="{{result['serviceId']}}" data-toggle="modal" data-target="#delete_dialog" title="Delete Service"><i class="glyphicon glyphicon-remove"></i></a>
                                          
                                       </td>
                                       <td>
                                          <a class="updateit btn btn-default btn-sm" id="{{result['serviceId']}}" data-toggle="modal" data-target="#update_service_type" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>
                                       </td>
                                    </tr>
                                 </table>
                                 
                              </td>
                           </tr>
                        
                        {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
               {% endif %}         
            </div>
         </div>
         <div role="tabpanel" class="tab-pane" id="contactViaType">
            <br>
            <div class="container" align="center">
               <div class="form-group">
                  <p align="center">Manage types of contacting manners</p>
                  <form class="form-horizontal" method="post" action="{{url_for('admin.add_contact_type', type_id=type_id)}}">
                     {% if current_user.region == "All" %}
                     <div class="col-xs-2">
                        <select id="region" name='region' class="form-control">
                           <option value="West">West</option>
                           <option value="South">South</option>
                           <option value="North">North</option>
                           <option value="East">East</option>
                           <option value="Center">Center</option>
                        </select>
                     </div>
                     {% endif %}
                     <div class="col-xs-1">
                        <label for="contactVia" class="control-label pull-right">Contacted Via:</label>
                     </div>
                     <div class="col-xs-3">
                        <input id="contactVia" name="contactVia" class="form-control" type="text">
                     </div>
                     <div class="col-xs-1">
                        <label for="contactDescription" class="control-label pull-right">Description:</label>
                     </div>
                     <div class="col-xs-3">
                        <textarea id="contactDescription" name="contactDescription" cols="26"></textarea>
                     </div>
                     <div class="form-group col-xs-2">
                        <button type="submit" id="addContactType" class="col-xs-offset-1 btn btn-info pull-left">Add Type</button>                           
                     </div>
                  </form>
               </div>
               <br><br></br>
               {% if contact_via_types|length > 0 %}
               <div class="panel panel-info" align="center">
                  <!-- Default panel contents -->
                  <div class="table-responsive">
                     <!-- Table -->
                     <table id="tableContact" class="table table-striped"  align="center">
                        <thead  align="center">
                           <tr class="success" align="center">
                              <th style="display:none;">Region</th>
                              <th>Contacting Manners</th>
                              <th>Description</th>
                              <th>Operation</th>
                           </tr>
                        </thead>                        
                        <tbody id="user-list">
                           {% for contact in contact_via_types %}
                           <tr align="center" class="{{contact['contactId']}}">
                              <td style="display:none;">{{contact['region']}}</td>
                              <td id="contactType">{{contact['contactType']}}</td>
                              <td id="description">{{contact['description']}}</td>
                              <td align='center'>
                                 <table align='center'>
                                    <tr align='center'>
                                       <td>
                                          <a class="deleteit btn btn-danger btn-sm" id="{{contact['contactId']}}" data-toggle="modal" data-target="#delete_dialog" title="Delete Contacting Manner"><i class="glyphicon glyphicon-remove"></i></a>   
                                       </td>
                                       <td>
                                          <a class="updateit btn btn-default btn-sm" id="{{contact['contactId']}}" data-toggle="modal" data-target="#update_contact_manner" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        {% endfor %}
                     </tbody>
                     </table>
                  </div>
               </div>
               {% endif %}         
            </div>
         </div>
         {% else %}
         <div role="tabpanel" class="tab-pane active" id="portofolio">
            <br>
            <div class="container" align="center">
               <form id="passwordForm" method="post" action="{{url_for('admin.change_password')}}" class="form-horizontal passform">
                  <input type="hidden" name="action" id="action" value="password">
                  <div class="form-group  col-xs-8">
                     <label for="oldPassword" class="col-xs-4 control-label">Current Password</label>
                     <div class="col-xs-7">
                        <input type="password" class="form-control col-xs-5" id="oldPassword" name="oldPassword">
                     </div>
                  </div>
                  <div class="form-group col-xs-8">
                     <label for="newPassword" class="col-xs-4 control-label">New Password</label>
                     <div class="col-xs-7">
                        <input type="password" class="form-control col-xs-5" id="newPassword" name="newPassword">
                        <span class="help-block" id="passwordMessage" />
                     </div>
                  </div>
                  <div class="form-group  col-xs-8">
                     <label for="passwordConfirm" class="col-xs-4 control-label">Confirm Password</label>
                     <div class="col-xs-7">
                        <input type="password" class="form-control col-xs-5" id="passwordConfirm" name="passwordConfirm">
                        <span class="help-block passMessage" />
                     </div>
                  </div>
                  <br>
                  <br>
                  </br>
                  <div class="form-group col-xs-12" >
                     <button type="submit"  id="submitForm" class="col-xs-offset-1 btn btn-info">Submit</button>
                  </div>
               </form>
            </div>
         </div>
         {% endif %}
      </div>
   </div>
</section>
<div class="portfolio-modal modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
         <div class="lr">
            <div class="rl">
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-xs-10">
               <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Portfolio Item</h2>
                  <form method="post" action="{{ url_for('admin.settings_portfolio_update') }}" class="form-horizontal">
                     <div class="form-group">
                        {{ pf_form.title.label(class_="control-label col-xs-3") }}
                        <div class="col-xs-7">
                           {{ pf_form.title(class_="form-control") }}
                        </div>
                     </div>
                     <div class="form-group">
                        {{ pf_form.subtitle.label(class_="control-label col-xs-3") }}
                        <div class="col-xs-7">
                           {{ pf_form.subtitle(class_="form-control") }}
                        </div>
                     </div>
                     <div class="form-group">
                        {{ pf_form.image_url.label(class_="control-label col-xs-3") }}
                        <div class="col-xs-7">
                           {{ pf_form.image_url(class_="form-control") }}
                        </div>
                     </div>
                     <div class="form-group">
                        {{ pf_form.description.label(class_="control-label col-xs-3") }}
                        <div class="col-xs-7">
                           {{ pf_form.description(class_="form-control", rows=8) }}
                        </div>
                     </div>
                     <div class="form-group">
                        <button type="submit" class="btn btn-info">Add</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- modal update fields -->
<div class="modal modal-wide fade" id="update_contact_manner">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Edit Contacting Manners</h4>
            </div>
            <form class="form-horizontal" action="{{url_for('admin.edit_contact_type')}}" method="POST">
               <div class="form-group-sm" id="update_modal">
                  <input type="hidden" id='cont-region' name="cont-region" value=""/>
                  <input type="hidden" id='contactId' name="contactId" value=""/>
                  <div class="col-xs-6">
                   {{form.contact_via.label()}}
                  </div>
                   <div class="col-xs-6">
                     {{form.contact_via(class="form-control")}}
                   </div><br>
                   <div class="col-xs-6">
                   {{form.contact_description.label()}}
                  </div>
                   <div class="col-xs-6">
                     {{form.contact_description(class="form-control")}}
                   </div><br>                
                <br></br><br>
               </div>
                <div class="modal-footer">
                    <button type="button" class="edit-button btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info" >Edit</i></button>
                </div>
            </form>
        </div> 
    </div>
</div>
<!-- modal update service fields -->
<div class="modal modal-wide fade" id="update_service_type">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Edit Service Types</h4>
            </div>
            <form class="form-horizontal" action="{{url_for('admin.edit_service_type')}}" method="POST">
               <div class="form-group-sm" id="update_modal">
                  <input type="hidden" id='service-region' name="service-region" value=""/>
                  <input type="hidden" id='serviceId' name="serviceId" value=""/>
                  <div class="col-xs-6">

                   {{form.edit_service_type.label()}}
                  </div>
                   <div class="col-xs-6">
                     {{form.edit_service_type(class="form-control")}}
                   </div><br>
                   <div class="col-xs-6">
                   {{form.edit_service_description.label()}}
                  </div>
                   <div class="col-xs-6">
                     {{form.edit_service_description(class="form-control")}}
                   </div><br>                
                <br></br><br>
               </div>
                <div class="modal-footer">
                    <button type="button" class="edit-button btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info" >Edit</i></button>
                </div>
            </form>
        </div> 
    </div>
</div>
<!-- modal fail-safe -->
<div id="delete_dialog" class="modal">
   <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
            <h4>
               Confirm!
            </h4>
        </div>
        <div class="modal-body" align="center">
             <p><i class="glyphicon glyphicon-warning-sign"></i> This item will be permanently deleted and cannot be recovered. Are you sure?</p>
        </div>
        <div class="modal-footer">
            <div class="col-xs-4 pull-right">
               <div class="col-xs-6">
                  <form action="" id="btnDel" method="get">
                   <button type="submit" style="width: 100%;" class="btn btn-danger">
                   Yes
                   </button>
               </form>
               </div>               
               <div class="col-xs-6">
                  <a href="#" data-dismiss="modal" style="width: 100%;" class="btn btn-default" aria-hidden="true">No</a>
               </div>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}