{% extends "layout.html" %}

{% block body %}
<section>
	<div class="container">
		<form method="post" action="{{url_for('admin.settings')}}" class="form-horizontal">
			<div class="form-group">
	            {{ form.site_title.label(class_="control-label col-xs-4") }}
	            <div class="col-xs-3">
	                {{ form.site_title(class_="form-control") }}
	             </div>
	        </div>
	        <div class="form-group">
	            {{ form.site_tagline.label(class_="control-label col-xs-4") }}
	            <div class="col-xs-3">
	                {{ form.site_tagline(class_="form-control") }}
	             </div>
	        </div>
	        <div class="form-group">
	            {{ form.landingpage_banner_image_url.label(class_="control-label col-xs-4") }}
	            <div class="col-xs-3">
	                {{ form.landingpage_banner_image_url(class_="form-control") }}
	             </div>
	        </div>

	        <div align="center">
	        	<button type="submit" class="btn btn-primary">Save</button>
	        </div>
		</form>
	</div>
</section>
{% endblock %}