{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
$(document).ready(function(){

  $('.passform').formValidation({
      framework: 'bootstrap',
      icon: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
          oldPassword: {
              validators: {
                  notEmpty: {
                      message: "Password field can't be empty!"
                  }
              }
          },
          newPassword: {
              err: '#passwordMessage',
              validators: {
                  notEmpty: {
                      message: "Password field can't be empty!"
                  }
              }
          },
          passwordConfirm: {
              err: '.passMessage',
              validators: {
                  notEmpty: {
                      message:  "Password field can't be empty!"
                  },
                  identical: {
                  field: 'newPassword',
                  message: "Password doesn't match!"
                  }
              }
          }
      }
  });
});
</script>
<section> 
<div class="container" align="center">
{% if message is defined %}
<div class="alert alert-danger alert-dismissible text-center" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{ message }}
</div>
{% endif %}
	<div class="form-group">
		<form method="get" action="{{ url_for('admin.create_user') }}">
    	<button type="input" class="btn btn-primary">Create User</button>
  	</form>
		<div>
	      <a href="#" data-original-title="Change Password" data-toggle="modal" data-target="#changePassModal" data-backdrop="false" type="button" class="btn btn-sm btn-primary pull-right">Change Password</a>
	  	</div>
	</div>
  <br><br></br>
  <div class="panel panel-warning">
    <!-- Default panel contents -->
    <div class="panel-body">
    <!-- Table -->
    <table class="table table-condensed table-striped">
      <thead>
        <tr align="center">
          <th>First name</th>
          <th>Last name</th>
          <th>E-mail</th>
          <th>Role</th>
          <th>Operations</th>
        </tr>
      </thead>
		{% if results is defined and results|length > 0 %}
		  <tbody id="users-list">
		   {% for result in results %}
		    <tr align="center">
		      <td>{{result.first_name}}</td>
		      <td>{{result.last_name}}</td>
		      <td>{{result.email}}</td>
		      <td>{{result.role}}</td>
		      <td>
		        <table align="center">
		          <tr align="center">
		            <td>
      						<form action="{{ url_for('admin.edit_user', user_id=result._id) }}" method="get">
      							<button type="submit" class="btn btn-default btn-sm">
      								<span class="glyphicon glyphicon-edit"></span>
      							</button>
      						</form>
      					</td>
                {% if not current_user.get_user(result._id).has_role('Admin') %}
      					<td>
      						<form action="{{ url_for('admin.delete_user', user_id=result._id) }}" method="get">
      							<button type="submit" class="btn btn-default btn-sm">
      								<span class="glyphicon glyphicon-remove"></span>
      							</button>
      						</form>
      					</td>
                {% endif %}
		          </tr>
		        </table>
		      </td>
		    </tr>
		   {% endfor %}
		  </tbody>
     	{% endif %}
    </table>
    </div>
    <div class="panel-footer">
    </div>
  </div>
</div>
</section>

<!-- Change password Form -->
<div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="close" class="close" data-dismiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
              <h4 class="modal-title" id="myModalLabel">Change Password</h4>
          </div>

          <div class="modal-body">
              <!-- The form is placed inside the body of modal -->
              <form id="passwordForm" method="post" action="{{url_for('admin.change_password')}}" class="form-horizontal passform">
              <input type="hidden" name="action" id="action" value="password">
              <div class="form-group">
                  <label for="oldPassword" class="col-xs-4 control-label">Current Password</label>
                    <div class="col-xs-7">
                  <input type="password" class="form-control" id="oldPassword" name="oldPassword">
                  </div>
              </div>
              <div class="form-group">
                  <label for="newPassword" class="col-xs-4 control-label">New Password</label>
                    <div class="col-xs-7">
                  <input type="password" class="form-control" id="newPassword" name="newPassword">
                  <span class="help-block" id="passwordMessage" />
                  
                  </div>
              </div>
              <div class="form-group">
               <label for="passwordConfirm" class="col-xs-4 control-label">Confirm Password</label>
                <div class="col-xs-7">
                 <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm">
                 <span class="help-block passMessage" />
                </div>
              </div>

              <div class="form-group">
                  <div class="col-xs-3" style="float: right">
                      <button type="submit" id="submitForm" class="btn btn-primary">Submit</button>
                  </div>
              </div>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}