{% extends "layout.html" %}
{% block body %}
<section> 
<div class="container" align="center">
	<form method="get" action="{{ url_for('admin.create_user') }}">
    	<button type="input" class="btn btn-primary">Create User</button>
  	</form>

  <div class="panel panel-warning">
    <!-- Default panel contents -->
    <div class="panel-body">
    <!-- Table -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>E-mail</th>
          <th>Role</th>
          <th>Operations</th>
        </tr>
      </thead>
		{% if result and result > 0 %}
		  <tbody id="users-list">
		   {% for result in result %}
		    <tr>
		      <td>{{result.first_name}}</td>
		      <td>{{result.last_name}}</td>
		      <td>{{result.email}}</td>
		      <td>{{result.role}}</td>
		      <td>
		        <table>
		          <tr>
		            <td>
						<form action="{{ url_for('admin.edit_user') }}" method="get">
							<button type="submit" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-edit"></span>
							</button>
						</form>
					</td>
					<td>
						<form action="{{ url_for('admin.delete_user') }}" method="get">
							<button type="submit" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</form>
					</td>
		          </tr>
		        </table>
		      </td>
		    </tr>
		   {% endfor %}
		  </tbody>
     	{% endif %}
    </table>
    </div>
    <div class="panel-footer">
    </div>
  </div>
</div>
</section>
{% endblock %}