/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.push-for-footer{
  height: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


.date-validator .has-feedback .form-control-feedback {
    top: 0;
    right: -15px;
}

.patient-view-table .property-name-col{
  text-align: right;
  width: 400px;
}

.patient-view-table .property-value-col{
  padding-left:25px;
  font-weight: bold;
  width: 400px;
}