{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  // Populate the table 
  function rebuildTable(result){
    // First remove the results before showing the new results table
        $("#results-table td").remove();
        for (var index in result) {
        		var slug = result[index]['company']['slug'];
        		var customer_id = result[index]['_id'];
        		/* we are building the url(s) with requeired parameters
        		   for AJAX request we do
        		*/


        		var url_action = "{{url_for('services.edit_service', company_name='company_slug', customer_id='customerID')}}".replace('company_slug/customerID', slug + "/" + customer_id['$oid']);

        		var url_action_customer = "{{url_for('services.customer_services', company_name='company_slug', customer_id='customerID')}}".replace('company_slug/customerID', slug + "/" + customer_id['$oid']);

        		var url_action_company = "{{url_for('services.company_services', company_name='company_slug')}}".replace('company_slug', slug);

        		var url_action_delete = "{{url_for('customers.delete_customer',customer_id='customerID')}}".replace('customerID', customer_id['$oid']);
        		//populate table
                $("#customers-list").append("<tr>" +
                    "<td>"+result[index]["first_name"]+"</td>"+
                    "<td>"+result[index]["last_name"]+"</td>"+
                    "<td>"+result[index]["job_title"]+"</td>"+
                    "<td>"+result[index]['company']['name']+"</td>"+
                    "<td>"+result[index]['phone']['main_phone']+"</td>"+
                    "<td>"+result[index]["email"]+"</td>"+
                    "<td>"+
                    "<table align='center'>"+
                    "<tr align='center'>"+
                      "<td>"+
                        "<form method='get' action='"+url_action+"'>"+
                          "<button type='submit' class='btn btn-default btn-sm btn-default'>"+
                            "<span class='glyphicon glyphicon-plus'></span>"+
                          "</button>&nbsp;"+
                        "</form>"+
                      "</td>"+
                      "<td>"+
                        "<form method='get' action='"+url_action_customer+"'>"+
                          "<button type='submit' class='btn btn-default btn-sm btn-default'>"+
                            "<span class='glyphicon glyphicon-user'></span>"+
                          "</button>&nbsp;"+
                        "</form>"+
                      "</td>"+
                      "<td>"+
                        "<form method='get' action='"+url_action_company+"'>"+
                        
                          "<button type='submit' class='btn btn-default btn-sm btn-default'>"+
                            "<span class='glyphicon glyphicon-th-list'></span>"+
                          "</button>&nbsp;"+
                        "</form>"+
                      "</td>"+
                    "</tr>"+
                  "</table>"+
                "</td>"+
                "<td>"+
                  "<table align='center'>"+
                    "<tr align='center'>"+
                      "<td>"+
                        "<form method='get'>"+
                          "<button type='submit' class='btn btn-default btn-sm btn-default'>"+
                            "<span class='glyphicon glyphicon-edit'></span>"+
                          "</button>&nbsp;"+
                        "</form>"+
                      "</td>"+
                      "<td>"+
                        "<form method='get' action='"+url_action_delete+"'>"+
                          "<button type='submit' class='btn btn-default btn-sm btn-danger'>"+
                            "<span class='glyphicon glyphicon-remove'></span>"+
                          "</button>&nbsp;"+
                        "</form>"+
                      "</td>"+
                    "</tr>"+
                  "</table>"+
          "</td>"+
        "</tr>");
        }
  };
  $(document).ready(function(){

    //search patient logic
    $('#searchButon').click(function(){
      var name = $('#firstName').val();
      var l_name = $('#lastName').val();
      var company = $('#company').val();

      url = "{{ url_for('api.search') }}" + "?firstName=" + name + "&lastName=" + l_name + "&company=" + company;      
      $.get(url, function(result){
        rebuildTable(result);
      });
    });
  });

</script>
<section>
  <div class="container" align="center">
    <div>
      <form method="get" action="{{url_for('customers.edit_customer')}}">
        <button type="submit" class="btn btn-primary" >New Customer</button>
      </form>
    </div>
    <div class="form-group form-group-sm">
      <form class="form-horizontal">
        <div class="col-xs-offset-1 col-xs-3">
          <input type="text" class="form-control" id='firstName' name='firstName' placeholder="First Name">
        </div>
        <div class="col-xs-3">
          <input type="text" class="form-control" id='lastName' name='lastName' placeholder="Last Name">
        </div>
        <div class="col-xs-3">
          <input type="text" class="form-control" id='company' name='company' placeholder="Company">
        </div>
        <div class="col-xs-2">
          <button type="button" class="btn btn-success" id="searchButon">Search</button>
        </div>
      </form>
    </div>
    <br><br></br>
      {% if results|length > 0 %}
      <div class="panel panel-info ">
        <!-- Default panel contents -->
        <div class="table-responsive">
          <!-- Table -->
          <table id="results-table" class="table table-striped table-condensed">
            <thead >
              <tr class="danger">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Job Title</th>
                <th>Company</th>
                <th>Main Phone</th>
                <th>E-mail</th>
                <th>Services</th>
                <th>Operations</th>
              </tr>
            </thead>
            <tbody id="customers-list">
              {% for customer in results['results'] %}
              <tr align="center">
                <td>{{customer['first_name']['value']}}</td>
                <td>{{customer['last_name']['value']}}</td>
                <td>{{customer['job_title']}}</td>
                <td>{{customer['company']['name']}}</td>
                <td>{{customer['phone']['main_phone']}}</td>
                <td>{{customer['email']}}</td>
                <td>
                  <table align="center">
                    <tr align="center">
                      <td>
                        <form method="get" action="{{ url_for('services.edit_service', company_name=customer['company']['slug'], customer_id=customer['_id']) }}">
                          <button type="submit" class="btn btn-default btn-sm btn-default">
                            <span class="glyphicon glyphicon-plus"></span>
                          </button>&nbsp;
                        </form>
                      </td>
                      <td>
                        <form method="get" action="{{ url_for('services.customer_services', company_name=customer['company']['slug'], customer_id=customer['_id']) }}">
                          <button type="submit" class="btn btn-default btn-sm btn-default">
                            <span class="glyphicon glyphicon-user"></span>
                          </button>&nbsp;
                        </form>
                      </td>
                      <td>
                        <form method="get" action="{{ url_for('services.company_services', company_name=customer['company']['slug']) }}">
                        
                          <button type="submit" class="btn btn-default btn-sm btn-default">
                            <span class="glyphicon glyphicon-th-list"></span>
                          </button>&nbsp;
                        </form>
                      </td>
                    </tr>
                  </table>
                </td>
                <td>
                  <table align="center">
                    <tr align="center">
                      <td>
                        <form method="get">
                          <button type="submit" class="btn btn-default btn-sm btn-default">
                            <span class="glyphicon glyphicon-edit"></span>
                          </button>&nbsp;
                        </form>
                      </td>
                      <td>
                        <form method="get" action="{{ url_for('customers.delete_customer', customer_id=customer['_id']) }}">
                          <button type="submit" class="btn btn-default btn-sm btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>&nbsp;
                        </form>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
  </div>
</section>
{% endblock %}