{% extends "layout.html" %}

{% block body %}
<section>
  <div class="container" align="center">

      <form method="get" action="{{url_for('customers.edit_customer')}}">
        <button type="submit" class="btn btn-primary" >New Customer</button>
      </form>

      {% if result['results']|length > 0 %}
      <div class="panel panel-warning">
        <!-- Default panel contents -->
        <div class="panel-body">
          <!-- Table -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Job Title</th>
                <th>Company</th>
                <th>Main Phone</th>
                <th>Work Phone</th>
                <th>Mobile Phone</th>
                <th>E-mail</th>
                <th>Operations</th>
              </tr>
            </thead>
            <tbody id="customers-list">
              {% for customer in result['results']%}
              <tr>
                <td>{{customer['first_name']}}</td>
                <td>{{customer['last_name']}}</td>
                <td>{{customer['job_title']}}</td>
                <td>{{customer['company']['name']}}</td>
                <td>{{customer['phone']['main_phone']}}</td>
                <td>{{customer['phone']['work_phone']}}</td>
                <td>{{customer['phone']['mobile']}}</td>
                <td>{{customer['email']}}</td>
                <td>
                  <table>
                    <tr>
                      <td>
                        <form method="get">
                          <button type="submit" class="btn btn-default btn-sm btn-default">
                            <span class="glyphicon glyphicon-edit"></span>
                          </button>&nbsp;
                        </form>
                      </td>
                      <td>
                        <form method="get" action="{{ url_for('services.customer_services', company_name=customer['company']['slug'], customer_id=customer['_id']) }}">
                        
                          <button type="submit" class="btn btn-default btn-sm btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                          </button>&nbsp;
                        </form>
                      </td>
                      <td>
                        <form method="get" action="{{ url_for('customers.delete_customer', customer_id=customer['_id']) }}">
                          <button type="submit" class="btn btn-default btn-sm btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>&nbsp;
                        </form>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
  </div>
</section>
{% endblock %}