{% extends 'layout.html' %}
{% block body %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#download-filtered-services').click(function(){
			var year = $('#year').val();
			var month = $('#month-select').val();
			var service_type = $('#provided_service').val();
			var dateTime = new Date();
			var url = "{{url_for('services.export_filtered_services')}}" + "?year=" + year + "&month=" + month + "&serviceType=" + service_type;
			var downloadAttr = "All Filtered Services (As of '" + dateTime + "').xls";
			$('#download-filtered-services').prop('href', url);
			$('#download-filtered-services').prop('download', downloadAttr);
		})

		$('.date-picker-year').datepicker({
	        autoclose: true,
	        todayHighlight: true,
	        format: 'yyyy',
	        viewMode: "years", 
	        minViewMode: "years"
        });
	});
</script>
<section id="portfolio">
	<div class="container" align="center">
		<div class="row">
			<div class="col-lg-12 text-center">
				<p><strong>Reports</strong></p>
        		<hr class="style-eight style-eight-later">
				<h3 class="section-subheading text-muted">Filtered Reports</h3>
			</div>
		</div>
		<div class="form-group form-group-sm">
		  <h3 class="section-subheading text-muted">Services Reports</h3>
	      <form class="form-horizontal">
	        <div class="col-xs-3">
	        	<input id="year" type="text" class="form-control date-picker-year" placeholder="Year"></input>
	        </div>
	        <div class="col-xs-4">
	        	<select id="month-select" class="form-control" data-toggle='tooltip' data-placement='bottom' title='Month'>
		          <option value="All">All</option>
		          <option value="1">January</option>
		          <option value="2">February</option>
		          <option value="3">March</option>
		          <option value="4">April</option>
		          <option value="5">May</option>
		          <option value="6">June</option>
		          <option value="7">July</option>
		          <option value="8">August</option>
		          <option value="9">September</option>
		          <option value="10">October</option>
		          <option value="11">November</option>
		          <option value="12">December</option>
		        </select>
	        </div>
	        <div class="col-xs-4">
                {{form.provided_service(class="form-control")}}
	        </div>
	        <div class="col-xs-1">
	        	<a id="download-filtered-services" style="margin-right:2px;" class="btn btn-sm btn-success">Export All</a>
	        </div>
	      </form>
    	</div>
	</div>
</section>
{% endblock %}